/* Start adding your styling below! */ 


body {
  background-color: yellow;
}

.center{ 
  text-align: center;
}

#cool-text{
  color: blue;
}

#list-color{
  color: rgb(230, 22, 29);
}

p {
  color: rgb(42, 9, 9);
}

h1 {
  font-size: 36px;
}
